#aritzia{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
h2#customerlogintitle{
    font-family: "Non-Seasonal Sans", sans-serif; Non-Seasonal Sans, sans-serif;
    text-align: center;
    font-size: 15pt;
    }


#log1{
    font-family: sans-serif;
    width: 200px;
    height: 20px;
    }

#pw1{
    align-self: center;
    width: 200px;
    height: 20px;
    }

input#submit{
    border: 2pt;
    color: white;
    background-color: black;
    margin-top: 5px;
    width: 200px;
    height: 50px;
    font-size: 13pt;
    }

#aa{
    border-style:solid;
    border-width: 1px;
    border-
}

.customtable {
    border: 2pt;
    margin-left: auto;
    margin-right: auto;
}

.custable1{
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 2pt black;
    border-top: solid 2pt black;
}

p.custheading{
    text-align: center;
    font-size: large;
    color: black;
    font-weight: bold;
}

div.submitbutton{
    border: 2pt;
    color: white;
    background-color: black;
    margin-top: 5px;
    width: 200px;
    height: 50px;
    font-size: 13pt;
    margin-left: auto;
    margin-right: auto;
    }
p.submitbutton{
    text-align:center;
    font-family: sans-serif;
    font-size: 13pt;
}
input.submitbutton{
    text-align:center;
    font-family: sans-serif;
    font-size: 13pt;
}

h2.heading2{
    font-family: sans-serif;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

h2.heading3{
    font-family: sans-serif;
    text-align: center;
    font-size: medium;
}

h2.heading4{
    font-family: sans-serif;
    text-align: left;
    font-weight: normal;
    font-size: medium;
}


table.registertable{
    border: "0";
    margin-left: auto;
    margin-right: auto;

}
input.registerinput{
    font-family: sans-serif;
    width: 200px;
    height: 20px;
    text-align: center;
}

input#logout{
text-align: center;
float: right;
font-family: sans-serif;
}

table.one {
    float:left;
    width:45%;
}

table.two   {
    width:45%;
    float:right;
}


/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

.contant{
width:200px;
  height:200px;
  position:relative;
}
.out{

position:absolute;  right:-800px;
  top:-70px;
}
